
  @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Manrope&family=Montserrat:wght@400;600&family=Raleway:ital,wght@0,100;0,200;0,400;1,400;1,500&display=swap');

/*Module*/
@import './modules/appbar.css';
@import'./modules/heroheader.css';
@import'./modules/bodyMain.css';
@import'./modules/activites.css';
@import'./modules/footer.css';


/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: blue;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

  /* Text configuration */
  --body-font: 'Raleway';
  --body-highlight-font: 'Raleway';
  --title-font: 'Raleway';
  
  
  --body-font-weight: 400; /*INFORMATION*/
  --body-highlight-font-weight: 700;/*TITRE CARDS*/
  --title-font-weight: 700;/*TITRE*/
  
  --body-font-size: 1.18rem;
  --body-highlight-font-size: 1rem;
  --title-font-size: 1.37rem;
  
  --body-line-height: 1.2rem;
  --body-highlight-line-height: 1.17rem;
  --title-line-height: 1.61rem;
}

.main-container{
    max-height: max-content;
    max-width: 1440px;
    min-width: 320px;
    width: 98%;
    margin: 5%;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (max-width: 320px){

    .hebergements-and-populaires {
        flex-direction: column-reverse !important;
        display: flex;
        flex-wrap: nowrap;
    }

    .hebergements-and-populaires section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .hebergements {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 40%;
        height: max-content;
    }

    .main_cards {
        display: flex;
        flex-wrap: nowrap;
        justify-items: center;
        align-items: flex-start;
        align-content: center;
        width: 98%;
        justify-content: flex-start;
        flex-direction: column;
    }

    .card_hebergement {
        display: flex;
        width: 94%;
    }
    .populaires{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        width: 30%;
        height: max-content;
      }

    .populaires-title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: space-between;
        align-items: center;
    }
   
    .populaires-cards {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: flex-start;
        width: 98%;
/* ne s'affiche pas en colonne  */
    }
 
    .card {
        width: 95% !important;
        flex-direction: row !important ;
        /* Ne prend pas sa valeurs */
    }

    .populaires-cards .card{
        flex-direction: column;
        width: 95%;
    }

}



@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .populaires-title{
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 1200px) {
    main {
      width: 95%;
    }
  }

/* Small devices (phones, less than 768px) */

@media (max-width: 768px) {
    :root {
      /* Mobile Variables */
      --body-font-size: 1rem;
      --body-highlight-font-size: 1rem;
      --header-font-size: 2.5rem;
      --title-font-size: 1.25rem;
  
      --body-line-height: 1.25rem;
      --body-highlight-line-height: 1.25rem;
      --header-line-height: 3rem;
      --title-line-height: 1.5rem;
    }
  
.main-container{
    max-width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


}
@media screen and (max-width: 320px) {
    .appBar {
        display: flex;
        justify-content: center;
        flex-direction: column !important;
        align-items: center;
        height: 10% !important;
        margin-top: 10%;
        width: 98%;
        flex-wrap: inherit;
        height: fit-content;
        
      }
    
      .appBar__icon {
        display: flex;
        align-items: center;
        height: 2.9rem;
        
      }

      .appBar__nav{    
        display: flex !important;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding:0px !important;
        gap: 0;

        }
    

      .appBar__navItem:hover,
      .appBar__navItem.active {
        border-bottom: 4px solid blue;
        border-top: none;
        color: blue;

  }  }

  @media screen and (max-width: 320px) {

    .hero__title {
        font-size: larger;
        flex-wrap: wrap;
        display: flex;
        margin-top: 5%;
    }
    .search_bar-icon {
        height: 2.31rem;
        width: 2rem;
        display: flex;
        background-color: #D9D9D9;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0 0 15px;
    }

    .search-click {
       display: none;
    }

    .button-search_gsm{
        display: flex;
        width: 2.31rem;
        height: 2.31rem;
        
        border-radius: 0 5px 0px 5px;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: stretch;
        border: antiquewhite;
    }

    .text-area {
        font-weight: bold;
        height: 2.31rem;
        width: 133px;
        display: flex;
        justify-items: center;
        border: none;
        color: black;
    }

    .border_filtre, .Border-décor {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        width: auto !important;
       
    }
    .contenair_filtre{
        display: flex !important;
        padding-bottom: 5%;
    }

.tittle_filtre{
    display: flex;
        font-size: x-large;
        width: 55% !important;
      
    
}

.filtre-selection {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;


 } 


}


  @media screen and (max-width: 320px) {
    .footer_contenaire {
      display: flex;
      flex-direction: column !important;
      align-content: flex-start;
      flex-wrap: wrap;
      width: 98%;
      background-color: #F2F2F2;
      height: inherit !important;
    }
  
    .footer_column {
      display: flex;
      flex-direction: column !important;
      align-content: flex-start;
      flex-wrap: wrap;
      width: 98%;
      height: inherit !important;
    
     
    }