
.container_activites{
    margin-top: 4rem;  
    width: 1415px;
    height: 591px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.title_activité{
font-size:x-large ;
display: flex;
flex-wrap: wrap;
flex-direction: row;
flex-flow: row;
padding-left: 50px;
}

.card-activités_position{
    
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
    margin-left: 30px;
  
}


.card_activités{
    width: 325px;
    height: 438px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
 
}

.img-activités{
    width: 292px;
    height: 371px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius:  20px 20px 0 0;
    object-fit: cover;
}
 
@media screen and (max-width: 1024px){



    .container_activites{
        width: 98%;
    }
    
 
    
    .card-activités_position{
        gap: 20px;
    }
    
    
    .card_activités{
        width: 220px;
        height: 338px;
        display: flex;
     
    }
    
    .img-activités{
        width: 192px;
        height: 271px;
        display: flex;
       
    }



}

@media screen and (max-width: 768px) {

    .container_activites {  
    width: 98%;
    height: 30%;
    display:flex;
    align-content: flex-end;
    }
 
      
      .card-activités_position {
        flex-wrap: nowrap;
        gap: 10px; 
    }
 
      .card_activités{
        width: 165px;
        height: 260px;
        flex-direction: column;
      }
    
      .img-activités{
        width: 143px;
        height: 150px;
      }
    
       }

       @media screen and (max-width: 320px){

        .container_activites {
            width: 98%;
            display: flex;
            flex-wrap: wrap !important;
            height: inherit !important;
        }
        .card_activités {
            width: 290px;
            height: 260px;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .img-activités {
            width: 290px;
            height: 200px;
            display: flex;
        }

        .card-activités_position {
            flex-wrap: wrap;
        }
       }  