.appBar__navItem {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: larger;
    text-decoration: none;
    margin-right: 1rem;
    height: 79px;
    width: 108%;
}

.appBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    height: 79px;
    width: 108%;
}

.appBar__icon {
    width: 6rem;
    height: 4.9rem;
    margin-bottom: 20px;

}

.appBar__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding: 25px;
    gap: 3.75rem;

}


.appBar__navItem:hover,
.appBar__navItem.active {
    border-top: 4px solid blue;
    color: blue;

}

@media screen and (max-width:1024px) {

    .appBar{
        width: 103%;
    }
    
}


@media screen and (max-width: 768px) {

    .appBar {
        margin-top: 10%;
        width: 107%;
    }

    .appBar__icon {
        width: 4rem;
        height: 2.9rem;
        margin-bottom: 37px;
    }


    .appBar__navItem:hover,
    .appBar__navItem.active {
        border-bottom: 4px solid blue;
        border-top: none;
        color: blue;

    }

}

@media screen and (max-width: 320px) {
    .appBar {
        justify-content: center;
        flex-direction: column !important;
        align-items: center;
        height: 10% !important;
        margin-top: 10%;
        width: 98%;
        flex-wrap: inherit;
        height: fit-content;

    }

    .appBar__icon {
        display: flex;
        align-items: center;
        height: 2.9rem;

    }

    .appBar__nav {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        padding: 0px !important;
        gap: 25%;
    }


    .appBar__navItem:hover,
    .appBar__navItem.active {
        border-bottom: 4px solid blue;
        border-top: none;
        color: blue;

    }
}