.main {
  max-width: 1440px;
  width: 98%;
}

/****** Hebergements And Populaires container ***********/
.hebergements-and-populaires {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 98%;
  background-color: white;
  gap: 0.625rem;
}

.hebergements-and-populaires section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
    justify-content: flex-between;
    align-content: stretch;
    align-items: flex-start;
}

/****** Hebergements cards ***********/
.hebergements {
  width: 60%;
  padding: 2%;
}

.main_cards .card_hebergement .img_main-cards {
  display: flex;
  object-fit: cover;
}

.main_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3%;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

a {
  text-decoration: none;
  color: black;
  display: contents;
}

.card_hebergement {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 2.06rem;
  border-radius: 20px;
  height: 12.87rem;
  width: 17.5rem;
}

.img_main-cards {
  display: flex;
  height: 50%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.hebergement_tittle {
  display: flex;
  margin: 0;
  justify-items: center;
}

.more_info {
  display: flex;
  width: 100%;
  padding-top: 3%;
}

/****** Populaires ***********/

.populaires {
  width: 35%;
  padding-bottom: 6%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 0.813rem;
}

.populaires-cards img {
  width: 33%;
  height: 8.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 0.938rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 0.625rem;
  margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 0.313rem;
}

.ancre_main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: dotted;
}

.color_icon {
  color: blue;
}

.fa-solid {
  color: var(--main-color);
  display: flex;
}

.neutral-star {
  color: #f2f2f2;
}

.section-title {
  margin: 0;
  font-size: 1.375rem;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 0.313rem;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 98% !important;
  margin-bottom: 4%;
}

.card img {
  object-fit: cover;
  width: 100%;
}

.card-content {
  margin-left: 6%;
}

.card-title {
  font-size: 1rem;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

.populaires-cards {
  width: 95%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-device-width: 1024px) {
  .hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .hebergements {
    width: 65%;
  }

  .card_hebergement {
    width: 15rem;
  }

  .populaires {
    flex-direction: row !important;
    width: 30%;
  }

  .cards {
    width: 95%;
  }

  .populaires-cards {
    width: 95%;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.813rem;
  }

  .populaires-title {
    flex: 1 1 100%;
  }

  .style_h3 {
    font-size: x-large;
  }

  .more_info {
    display: flex;
    flex: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .hebergements-and-populaires {
    flex-direction: column !important;
  }

  .hebergements {
    width: 96%;
  }



  .populaires {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100% !important;
    margin-bottom:0%;
    padding-bottom: 0%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row !important;
  }

  .main_cards {
    align-content: flex-start;
  }

  .card_hebergement {
    width: 23.25rem;
    height: 12.938rem;
    align-content: flex-end;
    margin-bottom: 2%;
  }

  .populaires-cards {
    width: 98%;
    margin-left: 0%;
  }

  
  a {
    display: contents;
    width: 50%;
  }

  .populaires-title {
    width: 98%;
  }

.img_main-cards{
    height: 57%;
}

  .card {
    padding: 0;
    width: 38%;
    gap: 2%;
    margin-left: 2%;
  }


}
