

.main{
    max-width: 1440px;
    width: 98%;
}




/****** Hebergements And Populaires container ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 99%;
    background-color: white;
    gap: 10px;
    
}

.hebergements-and-populaires section {
    display:flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    
    justify-content: flex-start;

}

/****** Hebergements cards ***********/
.hebergements {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 2%;
   
  
}

.main_cards .card_hebergement 
.img_main-cards {
    display: flex;
    object-fit: cover;
}
.main_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3%;

  
}

a{
    text-decoration: none;
    color: black;
    display: contents;
}

.card_hebergement {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 33px;
    border-radius: 20px;
    height: 207px;
    width: 245px;
 
}

.img_main-cards{
display: flex;
height: 50%;
width: 100%;
border-radius: 20px 20px 0 0;
object-fit: cover;

}

.hebergement_tittle{
    display: flex;
    margin: 0;
    justify-items: center;
    align-items:center;
    
}

.more_info{
    display: flex;
    width: 100%;
}

/****** Populaires ***********/

.populaires {
    width: 35%;
    padding-bottom: 6%;
 
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.populaires-cards .card {
    display: flex;
    margin-top: 13px;
}


.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.ancre_main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: dotted;
}

.color_icon{
    color: blue;
  /* Changer la couleur de l'icone car ne s'affiche pas */

}
.fa-solid {
    color: var(--main-color);
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 98% !important;
    margin-bottom: 4%
}



.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color);
   
}

@media screen and (max-width: 1024px) {

    .hebergements-and-populaires {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
    }

    .hebergements {
        width: 70%;
    }

    .card_hebergement{
        width: 199px;
    }

    .populaires {
        width: 30%;
        
    }

    .cards {
        width: 98%;
    }


    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
  
    .populaires-title{
        flex: 1 1 100%;
    }
  
    .more_info{
        display: flex;
       
        margin-left: 4%;
    }

    .main_cards {
        flex-direction: row;
        align-content: flex-end;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
   

    .main_container{
    width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    .hebergements-and-populaires{
    flex-direction: column !important;
 
    }

 

    .hebergements {
        flex-wrap: wrap;
        flex-direction: row;
        width: 100% !important;
        
    }
    .populaires{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100% !important;
        margin-bottom: 0px;
        
      }
    
    .populaires-cards{
        display: flex;
        flex-direction: row !important;
    }  
    
    
    .main_cards{
        align-content: flex-start;
       
    }
    .card_hebergement{
        width: 30%;
        
    }
    .populaires-cards{
        width: 100%;
    }
     
    a{
        display: contents;
        width: 50%;
    }
    
    .populaires-title{
        display: 1 1 100%;
    }
    
    .card{
        padding: 0;
        width: 33%;
        gap: 2%;
        margin-left: 2%;
    }

   }

   @media screen and (max-width: 320px){

    .hebergements-and-populaires {
        flex-direction: column-reverse !important;
        display: flex;
        flex-wrap: nowrap;
        margin-left: 4%;
    }

    .hebergements-and-populaires section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .hebergements {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 40%;
        height: max-content;
    }

    .main_cards {
        display: flex;
        flex-wrap: nowrap;
        justify-items: center;
        align-items: flex-start;
        align-content: center;
        width: 98%;
        justify-content: flex-start;
        flex-direction: column;
    }

    .card_hebergement {
        display: flex;
        width: 98% !important;
    }
    .populaires{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        width: 30%;
        height: max-content;
      }

    .populaires-title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: space-between;
        align-items: center;
    }
   
    .populaires-cards {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: flex-start;
        width: 98%;

    }
 
    .card {
        width: 98% !important;
        flex-direction: row !important ;
        
    }

    .populaires-cards .card{
        flex-direction: column;
        width: 98%;
    }

}
