
.footer_contenaire{

    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-between;
   

}




.footer_column{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 440px;
height: 163px;


}


.lien_decor{
    color: black;
    text-decoration: none;
}

/* Styliser les liens pour ne pas avoir de soulignement et color black */
@media (max-width: 768px) {
    .footer_contenaire {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
      width: 768px;
      
    }
  
    .footer_column {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }