.hero__titleContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 98%;
}

.hero__title {
    font-size: x-large;
    flex-wrap: wrap;
    display: flex;
    margin-top: 5%;

}

.border_bar {
    margin-top: 35px;
    margin-bottom: 35px;

}

.search_bar-destop {
    font-size: 18px;
    width: 47%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0;


}

.search_bar-icon {
    height: 3.31rem;
    width: 2rem;
    display: flex;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.fa-solid,
.fas {
    color: var(--main-color);
    display: flex;
}

.text-area {
    font-weight: bold;
    height: 3.31rem;
    width: 210px;
    display: flex;
    justify-items: center;
    border: none;
    color: black;

}

.search-click {
    height: 3.31rem;
    width: 10rem;
    cursor: pointer;
    color: white;
    background-color: #0065fc;
    font-weight: bold;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.contenair_filtre {
    display: flex;
    flex-flow: wrap row;

}


.filtre-selection {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.lien_filtre {
    width: auto;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    gap: 5px;
}

.tittle_filtre {
    font: menu;
    padding-left: 15%;
    font-size: x-large;
}


.border_filtre {
    display: flex;
    align-items: start;
    gap: 16px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

}

.Border-décor {
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #D9D9D9;
    padding: 2%;
    font-weight: 700;
    margin: auto;
}

.border_filtre:hover .Border-décor:hover {
    background-color: #DEEBFF;

}

.info-icon {

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
}



.info_size {
    display: flex;
    flex-direction: column;
    width: 34px;
    height: 24px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;


}

.button-search_gsm {
    display: none;
}

@media screen and (max-width: 768px)and (max-device-width : 1024px) {

    .hero {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 5%;
        align-items: self-start;
    }

    h3 {
        width: 100;
        flex-wrap: wrap;
    }

    .border_filtre,
    .Border-décor,
    .filtre-selection {
        flex-basis: content;
        width: 4O%;
    }

    .lien_filtre {

        width: 50%;
    }

    .button-search_gsm {
        display: none;
    }

    }

@media screen and (max-width: 320px) {

    .hero__title {
        font-size: larger;
        margin-top: 5%;
    }

    .search_bar-icon {
        height: 3.31rem;
        width: 2rem;


    }

    .search-bar_desktop {
        width: 90%;
        height: 63%;
        font-size: 19px;
    }

    .search-click {
        display: none;
    }

    .button-search_gsm {
        display: flex;
        width: 0px;
        height: 0;
        color: transparent;
        justify-content: space-evenly;
    }

    .text-area {
        height: 3.31rem;
        width: 238px;
    }

    .border_filtre,
    .Border-décor {
        display: flex;
        flex-wrap: wrap;
        width: fit-content !important;
        width: auto !important;

    }

    .contenair_filtre {
        display: flex !important;
        padding-bottom: 5%;
    }

    .tittle_filtre {
        display: flex !important;
        font-size: x-large;
        width: 100% !important;
        padding-left: 0px;


    }

    .filtre-selection {
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
    }


}